.section-footer {
  color: #ffffff;
  background-color: #120b48;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.footer-cnt {
  display: flex;
  flex: 1;

  justify-content: space-around;
}

.footer-logo {
  max-width: 100px;
}

.footer-link p {
  font-weight: 500;
  font-size: 9px;
  margin-bottom: 14px;
}

.footer-link ul {
  font-weight: 400;
  list-style: none;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
