.section-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.logo-share-page-icon {
  width: 40px;
}

.logo-share-page-cnt {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #100a42;
  gap: 8px;
}

.center-region {
  display: flex;
  gap: 40px;
}
.center-region button {
  font-size: 13px;
  font-weight: 600;

  color: #363636;
  background: transparent;
  border: none;
  cursor: pointer;
}

.get-started-btn {
  font-size: 15px;
  font-weight: 600;

  color: #120b48;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Sora", sans-serif;
  text-decoration: none;
}

.how-btn,
.feature-btn {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}
