.section-hero {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  margin-top: 10px;
  margin-bottom: 50px;
}

.hero-header-primary {
  font-family: "Sora", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  padding-right: 150px;
}
.hero-left {
  align-self: center;
}

.hero-left p {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  margin-bottom: 20px;
  padding-right: 50px;
}

.hero-left a {
  background-color: #120b48;
  text-decoration: none;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 10px;
}

.hero-right {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 5px;
  column-gap: 10px;

  margin: 30px;
  padding: 0 14px;
}

.hero-image-3-cnt {
  grid-row: 1/3;
  grid-column: 2/3;
}

.hero-right div img {
  width: 100%;
  border-radius: 8px;
}
.section-featured {
  margin-top: 50px;
  margin-bottom: 50px;
}

.feature-header {
  text-align: center;
  color: #141414;
  font-family: "Sora", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-description {
  text-align: center;
  color: #616163;
  font-size: 10px;
  margin-bottom: 60px;
}

.feature-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.featured-image {
  width: 100%;
}

.our-feature-cnt {
  display: flex;
  gap: 14px;
  margin-bottom: 30px;
}
.feature-icon {
  width: 20px;
}

.feature-sub-header {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: #1b233de8;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-sub-des {
  font-size: 10px;
  color: #616163;
}

.section-how {
  margin: 50px 0;
}

.how-header {
  text-align: center;
  color: #141414;
  font-size: 20px;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}

.how-cnt {
  display: flex;
  gap: 40px;
}

.how-screenshot {
  width: 100%;
}

.how-item-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.how-step-icon {
  width: 30px;
}

.how-sub-header {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #1b233d;
}

.how-sub-description {
  font-size: 10px;
  color: #616163;
  line-height: 16px;
}
