/* RECORDING CSS*/

.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: end;
  position: absolute;

  color: #fff;
}

.record-container {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  gap: 4rem;
}

.profile-image {
  width: 12rem;
}

.play-container {
  display: flex;
  align-items: center;
  background-color: #141414;
  border-radius: 10rem;
  gap: 2rem;
  padding: 0.8rem 4rem;
  font-size: 1rem;
}

.media-icon {
  width: 3rem;
}

.media-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-cnt p {
  font-size: 1rem;
}
