.profile-link {
  width: 13rem;
}

.section-welcome {
  display: flex;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.section-welcome div {
  width: 100%;
}
.top-content {
  width: 100%;
}

.recent-file-grids-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.recent-files-title {
  margin-bottom: 2rem;
  color: #141414cc;
  font-weight: 500;
  font-size: 1rem;
}

.video-repository-title-cnt {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.share-thumbnail {
  height: 24rem;
  background-color: rgb(199, 199, 199);
  text-align: center;
}

.video-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #141414;
}

.video-date {
  color: #b6b3c6;
  font-size: 0.8rem;
}

.cnt-padding {
  padding: 1rem 1rem;
}
