.section-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 9.6rem;
  gap: 2rem;
}

.header-primary {
  font-weight: 700;
  font-size: 3.4rem;
  font-family: "Sora", sans-serif;
  color: #141414;
  margin-bottom: 3.6rem;
}
.left-grid {
  border-right: solid 1px rgba(128, 128, 128, 0.384);
  padding-right: 2.4rem;
}

.video-details-cnt {
  max-width: 40rem;
}
.video-name-label {
  font-size: 1.2rem;
  font-family: "Sora", sans-serif;
  color: #727272;
  font-weight: 500;
}

.video-edit-cnt {
  display: flex;
  font-family: "Sora", sans-serif;
  gap: 2.4rem;
  align-items: center;
  margin-bottom: 3.6rem;
}

.video-edit-cnt p {
  font-size: 1.3rem;
  line-height: 3rem;
  font-weight: 600;
  color: #413c6d;
}

.edit-icon {
  width: 1.8rem;
}

.send-video-form {
  background-color: #b6b3c633;

  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
  margin-bottom: 3.6rem;
}

.form-input {
  background: transparent;
  border: none;
  height: 2rem;
  max-width: 25rem;
  outline: none;
  font-size: 1.4rem;
}

.form-input::placeholder {
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif;
}

.form-send-btn {
  border: none;
  background-color: #605c84;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
}

.video-url-title {
  font-size: 1.4rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  color: #141414;
  margin-bottom: 1rem;
}

.video-url-cnt {
  color: #929292;
  background-color: #fafafa;

  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
  margin-bottom: 3.6rem;
}
.copy-text {
  font-size: 1rem;
  color: #120b48;
}
.video-url-cnt p {
  font-size: 1.1rem;
}

.copy-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.2rem;
  gap: 0.8rem;
  border: solid 1px #120b4891;
  border-radius: 0.7rem;
}

.copy-url-icon {
  width: 1.4rem;
}

.socials-header {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Sora", sans-serif;
  margin-bottom: 1rem;
}

.socials-cnt {
  display: flex;
  gap: 0.8rem;
}
.socials-btn {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  gap: 0.6rem;
  padding: 0.6rem 1.2rem;
  border: solid 1px #0a062891;
  border-radius: 0.4rem;
  background-color: #ffffff;
}

.scocials-icon {
  width: 1rem;
}

.video-thumbnail-cnt {
  border: solid 1px #413c6da8;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-bottom: 6rem;
}

.video-thumbnail {
  flex: 1;
  background-color: #d3d3d3;
  height: 30rem;
  text-align: center;
}

.video-settings-cnt {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  height: 5rem;
}

.video-timer {
  color: #939393;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.video-setting-right-cnt {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #141414;
}

.video-settings-icon-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-settings-icon {
  width: 1.8rem;
}

.header-secondary {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.change-language {
  max-width: 10rem;
  margin-bottom: 1.8rem;
}

.trancript-list-cnt {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: 4rem 1fr;
  row-gap: 1.6rem;
}

.section-save {
  background-color: #e7e7ed33;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 1rem;
}
.save-container {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  gap: 2.6rem;
  text-align: center;
}

.section-save p {
  font-family: "Sora", sans-serif;
}

.save-description {
  font-weight: 600;
}

.create-account {
  color: #7e7e7e;
  font-weight: 600;
}
.create-account a {
  text-decoration: none;
  color: #120b48;
}

.save-cta-btn {
  background-color: #120b48;
  color: #ffffff;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 0.6rem;
}
